*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,Helvetica,sans-serif;

    background:#f2f2f2;

    padding:15px;

}

.container{

    display:grid;

    grid-template-columns:25% 240px 1fr;

    gap:15px;

    height:calc(100vh - 30px);

}

/* Painel da calculadora */

.painel{
    width: 100%;

    background:white;

    padding:10px;

    border-radius:8px;

    box-shadow:0 2px 8px rgba(0,0,0,.15);

}

/* Visor */

#visor{

    width:100%;

    height:75px;

    margin-bottom:10px;

    font-size:26px;

    font-weight:bold;

    text-align:center;

    border:2px solid #999;

    border-radius:6px;

}

/* Teclado */

#teclado{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:4px;

}

#teclado button{

    height:32px;

    font-size:18px;

    font-weight:bold;

    border:none;

    border-radius:5px;

    cursor:pointer;

    background:#e5e5e5;

    transition:.2s;

}

#teclado button:hover{

    background:#d0d0d0;

}

/* Botões */
.topo{

    display:flex;

    justify-content:center;

    gap:15px;

    margin-bottom:25px;

}

.topo button{

    width:160px;

    margin-top:0;

}

#controleColunas{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:8px;

    margin-top:8px;

}

#controleColunas button{

    width:32px;

    height:32px;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

}

#lblColunas{

    min-width:45px;

    text-align:center;

    font-weight:bold;

    color:#003366;

}
#relatorio{

 
    width:100%;

    height:250px;

    min-height:250px;
    resize:vertical;
    overflow:auto;
    padding:18px;
    font-size:13px;
}
#btnRelatorio,
#btnExcluir,
#btnInserir,
#btnOrganizar,
#btnLimparFila{

    width:100%;

    height:40px;

    margin-top:8px;

    font-size:15px;

    font-weight:bold;

    border:none;

    border-radius:5px;

    cursor:pointer;

}
#btnOrganizar:hover{
    background:#152d53;
}
#btnOrganizar{

    background:#a7d219;

    color:white;

}
#btnExcluir:hover{
    background:#b71c1c;
}
#btnExcluir{

    background:#a7d219;

    color:white;

}
#btnInserir{

    background:#1976D2;

    color:white;

}

#btnInserir:hover{

    background:#125ca8;

}

#btnLimparFila{

    background:#D32F2F;

    color:white;

}

#btnLimparFila:hover{

    background:#64b71c;

}

#btnRelatorio{

    background:#FF9800;

    color:white;

}

#btnRelatorio:hover{

    background:#F57C00;

}

/* Área da fila */

.conteudo{

    display:grid;

    grid-template-rows:auto 1fr;

    gap:10px;

    background:white;

    border-radius:8px;

    padding:10px;

    box-shadow:0 2px 4px rgba(0,0,0,.1);

    overflow:hidden;

}

/* Fila */
#fila{
    position: relative;
    min-width: 550px;      /* 10 colunas × 55px     min-height: 650px; /* apenas para teste */
}
#areaFila{

    width:100%;

    height:100%;

    overflow:auto;

    border:1px solid #ccc;

}
/* Células */

.item{

    width:40px;

    height:40px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:15px;

    font-weight:bold;

   
    color:white;

    box-shadow:0 0px 0px rgba(0,0,0,.1);

    transition:.15s;

}

.item:hover{

    transform:scale(.8);

}
.lado-esquerdo{

    display:flex;

    flex-direction:column;

    gap:10px;

}
#graficoArea{

    background:white;

    border-radius:8px;

    padding:10px;

    box-shadow:0 2px 4px rgba(0,0,0,.1);

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:auto;

}
#grafico{

    max-width:100%;

    max-height:100%;

}